<div class="container">
    <h1 class="center">Shopping List</h1>
    <div class="row">
        <div class="col s6">
            <h2 class="section center">Current List</h2>
            <ul class="collection">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="collection-item">
                    <div class="item-name">
                        {{burger_name}}
                    </div>
                    <a class="devour-burger btn waves-light waves-effect" data-id="{{id}}" data-devoured="{{devoured}}">Completed</a>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col s6">

            <h2 class="section center">Completed items</h2>
            <ul class="collection">
                {{#each burgers}}
                {{#if devoured}}
                <li class="collection-item">
                    <div class="item-name">
                        {{burger_name}}
                    </div>
                        <a class="devour-burger btn waves-light waves-effect"  data-devoured="{{devoured}}" data-id="{{id}}">Add again</a>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>





    <h3 class="center">Add another item</h3>
    <div class="form-box">
        <input type="text" class="new-burger" />
        <button class="add-burger-button btn waves-light waves-effect">Order burger</button>
    </div>
    
</div>