<h2 class="section">Ready to be devoured</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <li >
            {{burger_name}}
            <button class="devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">Devour</button>
        </li>
    {{/unless}}
  {{/each}}
</ul>

<h2 class="section">Devoured</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
        <li >
            {{burger_name}}
            <button class="devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">Order Again!</button>
        </li>
    {{/if}}
  {{/each}}
</ul>
